<div class="container">
<%= render 'shared/supervisor_buttonbar'%>

<div id="login">
<h1 style="text-align: center;">Endre navn</h1>
<p>Gamle navnet var: <%= @group.name%></p>
<%= form_for @group, html: {class: "form-horizontal"} do |f| %>
<%= render :partial => "form", :object => f, :locals => { :group => @group } %>
<div class="controls">
<%= f.submit "Lagre" %>
</div>
<% end %>
</div>
</div>
