<h1>Listing users</h1>
<p id="notice"><%= notice %></p>
<table>
<tr>
<th>Name</th>
<th>Email</th>
<th></th>
<th></th>
<th></th>
</tr>
<% @users.each do |user| %>
<tr>
<td><%= user.name %></td>
<td><%= user.email %></td>
<td><%= link_to 'Åpne', user %></td>
<td><%= link_to 'Endre', edit_user_path(user) %></td>
<td><%= link_to 'Deaktiver', user, :confirm => 'Er du sikker?', :method => :delete %></td>
</tr>
<% end %>
</table>
 
<br />
 
<%= link_to 'Ny bruker', new_user_path %>
