<%= javascript_include_tag "jquery.min"%>
<%= javascript_include_tag "excanvas.min"%>
<%= javascript_include_tag "jquery.flot.min"%>
<%= javascript_include_tag "jquery.flot.time"%>
<script type="text/javascript">
var data11_1 = [
	<% @start.each do |start| %>
	<%= start %>,
	<% end %> ];
var data11_2 = [
    <% @stop.each do |stop| %>
	<%= stop %>,
	<% end %> ];
</script>
<%= javascript_include_tag "worktimegraph"%>

<div class="container-fluid">
	
	<div class="row-fluid margin-left">
		<div class="span2 ">
			<div class="row-fluid">
			<div class="well">
	<p>


<p>
<b>Email:</b>
<%=h @user.email %>
</p>

<p>
<b>Login count:</b>
<%=h @user.login_count %>
</p>

<p>
<b>Last request at:</b>
<%=h @user.last_request_at %>
</p>

<p>
<b>Last login at:</b>
<%=h @user.last_login_at %>
</p>

<p>
<b>Current login at:</b>
<%=h @user.current_login_at %>
</p>

<p>
<b>Last login ip:</b>
<%=h @user.last_login_ip %>
</p>

<p>
<b>Current login ip:</b>
<%=h @user.current_login_ip %>
</p>

<p>
<b>Pin:</b>
<%=h @user.pin %>
</p>

<p>
<b>Gruppe:</b>
<% unless @user.group.nil?%>
<%= @user.group.name %>
<% else %>
Ingen
<%end%>
</p>

<p>
<b>Rolle:</b>
<% unless @user.role.nil?%>
<%= @user.role.name %>
<% else %>
Ingen
<%end%>
</p>
</p>

<p>
<b>Kort:</b>
<% unless @card.nil?%>
Registrert
<% else %>
Ingen
<%end%>
</p>
</p>

</div>
</div>



<div class="row-fluid">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
              <li class="nav-header">Alternativer</li>
              <li><%= link_to 'Endre', edit_user_path %></li>
              <li><%= link_to 'Deaktiver', @user, :confirm => 'Er du sikker?', :method => :delete %></li>
              <% unless @card.nil? %>
              <li class="nav-header">Kort</li>
              <li><%= link_to 'Slett kortet', card_path(@card), :confirm => 'Er du sikker?', :method => :delete %></li>
              <%end%>
        </ul>
        
		</div>
	</div>
</div>
<div class="span6">
	<div class="row-fluid">
		<%= render 'shared/supervisor_buttonbar'%>
	</div>
	

		<div class="my_pager row" id="pager">
		<%= render 'shared/pager', action: "index"%>
		</div>
<div id="mainTable">
			<%= render 'shared/workdays', workdays: @workdays, page: "user"%>
</div>



<div id="grafcontainer" style="text-align: center;">
	<h3>Grafisk fremstilling av start og stopp på arbeidsdager</h3>
    <div id="flotcontainer" style="width: 1000px;height:400px; text-align: center; margin:0 auto;">
    </div>
</div>






