<%= javascript_include_tag "jquery.min"%>
<%= javascript_include_tag "excanvas.min"%>
<%= javascript_include_tag "jquery.flot.min"%>
<%= javascript_include_tag "jquery.flot.time"%>
<div id="graphrender">
<%= render 'shared/graph', start: @start, stop: @stop%>
</div>

<div class="">
	
	<div class="">
		<div class="sidebar">
			<div class="row-fluid">
			<div class="well">
	<p>


<p>
<b>Email:</b>
<%=h @user.email %>
</p>

<p>
<b>Login count:</b>
<%=h @user.login_count %>
</p>

<p>
<b>Last request at:</b>
<%=h @user.last_request_at %>
</p>

<p>
<b>Last login at:</b>
<%=h @user.last_login_at %>
</p>

<p>
<b>Current login at:</b>
<%=h @user.current_login_at %>
</p>

<p>
<b>Last login ip:</b>
<%=h @user.last_login_ip %>
</p>

<p>
<b>Current login ip:</b>
<%=h @user.current_login_ip %>
</p>

<p>
<b>Pin:</b>
<%=h @user.pin %>
</p>

<p>
<b>Gruppe:</b>
<% unless @user.group.nil?%>
<%= @user.group.name %>
<% else %>
Ingen
<%end%>
</p>

<p>
<b>Rolle:</b>
<% unless @user.role.nil?%>
<%= @user.role.name %>
<% else %>
Ingen
<%end%>
</p>
</p>

<p>
<b>Kort:</b>
<% unless @card.nil?%>
Registrert
<% else %>
Ingen
<%end%>
</p>
</p>

</div>
</div>



<div class="">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
              <li class="nav-header">Alternativer</li>
              <li><%= link_to 'Endre', edit_user_path %></li>
              <li><%= link_to 'Deaktiver', @user, :confirm => 'Er du sikker?', :method => :delete %></li>
              <% unless @card.nil? %>
              <li class="nav-header">Kort</li>
              <li><%= link_to 'Slett kortet', card_path(@card), :confirm => 'Er du sikker?', :method => :delete %></li>
              <%end%>
        </ul>
        
		</div>
	</div>
</div>
<div class="container">
	<div class="">
		<%= render 'shared/supervisor_buttonbar'%>
	</div>
	
<<<<<<< HEAD

		<div class="my_pager row" id="pager">
=======
		<div class="my_pager" id="pager">
>>>>>>> 1298b4de08e6674496c3133ba06f7d7c3327a22f
		<%= render 'shared/pager', action: "index"%>
		</div>
<div id="mainTable">
			<%= render 'shared/workdays', workdays: @workdays, page: "user"%>
</div>



<div id="grafcontainer" style="text-align: center;">
	<h3>Grafisk fremstilling av start og stopp på arbeidsdager</h3>
    <div id="flotcontainer" style="width: 1000px;height:400px; text-align: center; margin:0 auto;">
    </div>
</div>






