<%= javascript_include_tag "excanvas.min"%>
<%= javascript_include_tag "jquery.flot.min"%>
<%= javascript_include_tag "jquery.flot.time"%>

<div id="graphrender">
	<%= render 'shared/graph', start: @start, stop: @stop%>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<div class="row-fluid">
				<div class="well span">
					<p>

					<p>
						<b>Email:</b>
						<%= h @user.email %>
					</p>
					<p>
						<b>Telefon:</b>
						<%= h @user.phone_number %>
					</p>
					<%if current_user.role_id == 3%>
					<p>
						<b>Login count:</b>
						<%= h @user.login_count %>
					</p>

					<p>
						<b>Last request at:</b>
						<%= h @user.last_request_at %>
					</p>

					<p>
						<b>Last login at:</b>
						<%= h @user.last_login_at %>
					</p>

					<p>
						<b>Current login at:</b>
						<%= h @user.current_login_at %>
					</p>

					<p>
						<b>Last login ip:</b>
						<%= h @user.last_login_ip %>
					</p>

					<p>
						<b>Current login ip:</b>
						<%= h @user.current_login_ip %>
					</p>

					<p>
						<b>Pin:</b>
						<%= h @user.pin %>
					</p>
					<%end%>
					<p>
						<b>Gruppe:</b>
						<% unless @user.group.nil?%>
						<%= @user.group.name %>
						<% else %>
						Ingen
						<%end%>
					</p>

					<p>
						<b>Rolle:</b>
						<% unless @user.role.nil?%>
						<%= @user.role.name %>
						<% else %>
						Ingen
						<%end%>
					</p>
					</p>

					<p>
						<b>Kort:</b>
						<% unless @card.nil?%>
						Registrert
						<% else %>
						Ingen
						<%end%>
					</p>
					</p>

				</div>
			</div>

			<div class="row-fluid">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">
							Alternativer
						</li>
						<li>
							<%= link_to 'Endre', edit_user_path %>
						</li>
						<%if current_user.role_id == 3%>
						<li>
							<%= link_to 'Ny arbeidsdag', new_user_workday_path(@user)%>
						</li>
						<li>
							<%= link_to 'Deaktiver', @user, :confirm => 'Er du sikker?', :method => :delete %>
						</li>
						<% unless @card.nil? %>
						<li class="nav-header">
							Kort
						</li>
						<li>
							<%= link_to 'Slett kortet', card_path(@card), :confirm => 'Er du sikker?', :method => :delete %>
						</li>
						<%end%>
						<%end%>
					</ul>

				</div>
			</div>
		</div>
		<div id="margin_left" class="span7">
			<%unless current_user.role_id == 1%>
			<%= render 'shared/supervisor_buttonbar'%>
			<%end%>
			<div class="my_pager without_buttonbar" id="pager">
				<%= render 'shared/pager', action: "index", user: @user%>
			</div>
			<div id="mainTable">
				<%= render 'shared/workdays', workdays: @workdays, user: @user%>
			</div>

			<div class="row-fluid" id="grafcontainer" style="text-align: center;">
				<h3>Grafisk fremstilling av start og stopp på arbeidsdager</h3>
				<div class="row-fluid" id="flotcontainer" style="height:400px; text-align: left; margin:0 auto;"></div>
			</div>
		</div>
	</div>
</div>
