<%= javascript_include_tag "pager"%>
<%= javascript_include_tag "update"%>


	<div class="span3" id="prev" >
		<%if @prev_class == "disabled"%>
		<%=button_to  t("date.month_names")[@date.advance(months: -1).month].titleize, { :action => action, controller: "workdays",  date: @date.advance(months: -1)},
					{class: " btn-small btn btn-info #{@prev_class} pager_buttons" , disabled: "",
					 id: "prev_button", form_class: "prev_form",method: :get, remote: true}%>
		<%else%>
		<%=button_to  t("date.month_names")[@date.advance(months: -1).month].titleize, { :action => action, controller: "workdays",  date: @date.advance(months: -1)},
					{class: " btn-small btn btn-info #{@prev_class} pager_buttons",
					 id: "prev_button", form_class: "prev_form",method: :get, remote: true}%>
		<%end%>			 
	</div>
	<div class="span3" id="current_month">
		<%= button_to "Gjeldende måned", {action: action}, {class: "btn btn-info", method: :get}%>
	</div>
	<div class="span3" id="next">
		<%if @next_class == "disabled"%>
		<%=button_to  t("date.month_names")[@date.advance(months: 1).month].titleize, { :action => action, controller: "workdays", date: @date.advance(months: 1)},
					{class: " btn-small btn btn-info #{@next_class} pager_buttons" ,id: "next_button",disabled: "", 
					form_class: "next_form",method: :get, remote: true}%>
		<%else%>
		<%=button_to  t("date.month_names")[@date.advance(months: 1).month].titleize, { :action => action, controller: "workdays", date: @date.advance(months: 1)},
					{class: " btn-small btn btn-info #{@next_class} pager_buttons" ,id: "next_button", 
					form_class: "next_form",method: :get, remote: true}%>
		<%end%>			
	</div>
