<%provide(:custom_css, 'supervisor')%>
<div id="buttonbar">
<div class="navbar">	
	<div class="navbar-inner">
	<ul class="nav">
		<li clas="active">
			<%= link_to "Arbeidsdager", workdays_path%>
		</li>
		<li class="divider-vertical"></li>
		<li>
			<%= link_to "Brukere", users_path%>
		</li>
		<li class="divider-vertical"></li>
		<li>
			<%= link_to "Grupper", groups_path %>
		</li>
		<li class="divider-vertical"></li>
		<li>
			<%= link_to "Logg", logs_path %>
		</li>
		<li class="divider-vertical"></li>
		<li>
			<%= link_to "Kort", cards_path %>
		</li>
		<li class="divider-vertical"></li>
	</ul>
	</div>
</div>
</div>
