<script>
	$("#supervisor-collapse").collapse('toogle');
	$('.dropdown-toggle').dropdown();
</script>


<%= javascript_include_tag "update"%>
<%= javascript_include_tag "list"%>

<div id="buttonbar" class="navbar">	
	<div class="navbar-inner">
		<div class="container">
		<a class="btn btn-navbar" data-toggle="collapse" data-target="#supervisor-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Menyvalg</a>
      
      <div id="supervisor-collapse" class="nav-collapse navbar-responsive-collapse in collapse">
	<ul class="nav pull-right">
		<li class="divider-vertical"></li>
		<li>
			
			<%= link_to "Arbeidsdager", workdays_path%>
		</li>
		<li class="divider-vertical"></li>
		<li>
			<%= link_to "Brukere", users_path%>
		</li>
		<li class="divider-vertical"></li>
		<%unless current_user.role_id != 3%>
		<li>
			<%= link_to "Avdelinger", groups_path %>
		</li>
		<li class="divider-vertical"></li>
		<li>
			<%= link_to "Logg", logs_path %>
		</li>
		<li class="divider-vertical"></li>
		<li>
			<%= link_to "Kort", cards_path %>
		</li>
		<li class="divider-vertical"></li>
		<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "Send ut pinkoder", pin_codes_path%></li>
                          <li class="divider"></li>
                          <li><%= link_to "Exporter timer til fil", export_path%></li>
                          <li><%= link_to "importer ansatte til systemet", "#"%></li>
                        </ul>
                      </li>
        </ul>
		<%end%>
	
	</div>
	</div>
	</div>
</div>
