<script>
	$("#supervisor-collapse").collapse('toogle');
</script>

<%provide(:custom_css, 'supervisor')%>
<%= javascript_include_tag "update"%>
<%= javascript_include_tag "list"%>
<div id="buttonbar" class="navbar">	
	<div class="navbar-inner">
		<div class="container">
		<a class="btn btn-navbar" data-toggle="collapse" data-target="#supervisor-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Menyvalg</a>
      
      <div id="supervisor-collapse" class="nav-collapse navbar-responsive-collapse collapse">
	<ul class="nav pull-right">
		<li class="divider-vertical"></li>
		<li clas="active">
			
			<%= link_to "Arbeidsdager", workdays_path%>
		</li>
		<li class="divider-vertical"></li>
		<li>
			<%= link_to "Brukere", users_path%>
		</li>
		<li class="divider-vertical"></li>
		<li>
			<%= link_to "Avdelinger", groups_path %>
		</li>
		<li class="divider-vertical"></li>
		<li>
			<%= link_to "Logg", logs_path %>
		</li>
		<li class="divider-vertical"></li>
		<li>
			<%= link_to "Kort", cards_path %>
		</li>
	</ul>
	</div>
	</div>
	</div>
</div>
