<tr class="parent" id=row<%= id%>>

				<td class="row_button" id=<%= id%>><%= workday.user.name %></td>
				<td class="row_button" id=<%= id%>><%= workday.date %></td>
				<% if workday.supervisor_hour == nil%>
				<td class="row_button" id=<%= id%>><%= sum%></td>
				<% else%>
				<td class="row_button" id=<%= id%>><%= workday.supervisor_hour%> </td>
				<% end%>
				<%= render 'shared/workdays_approve_buttons', page: page, workday: workday, id: id, sum: sum%>
			</tr>
			<tr class="child_row" id="child<%= id%>">

				<td colspan="3">
				<table id="child-table" class='table child-table'>
					<thead>
						<tr id='child-head'>
							<th>Start:</th>
							<th>Stop:</th>
							<th>Antall:</th>
						</tr>
					</thead>
					<tbody>
						<% workday.workhours.each do |hour|%>
						<tr class="info">
							<td><%= hour[:start]%></td>
							<td><%= hour[:stop]%></td>
							<td><%= hour[:count]%></td>
						</tr>
						<%end%>
					</tbody>
				</table></td>

			</tr>