<div class="container">
	<%= render 'layouts/supervisor_buttonbar'%>

	<table class="table table-striped table-hover" id="parent_table">
		<thead>
			<tr>
				<th>Navn</th>
				<th>Dato</th>
				<th>Timer</th>
			</tr>
			
		</thead>
		<tbody>
			<% @hour.each_with_index do |day, index|%>
				<tr class="parent" id=<%=index%>>
				<td><%=day[:user].name %></td>
				<td><%= day[:info][:day] %></td>
				<td><%= day[:info][:sum]%></td>
				<td>
					<button class="btn btn-success">Godkjenn</button>
				</td>
				<td>
					<button class="btn btn-danger">Underkjenn</button>
				</td>
				</tr>
				<tr class="child_row" id="child_row<%=index%>">
				
				<td colspan="2">
					<table id="child-table" class='table child-table'>
					<thead>
                     <tr id='child-head'>
                     	<th>Start:</th>
                     	<th>Stop:</th>
                     	<th>Antall:</th>
                     	<th>Status:</th>
                     </tr>
                     </thead>
                     <tbody>
                     <% day[:info][:hours].each do |hour|%>	
                     <tr class="info">
                     	<td><%= hour[:start]%></td>
						<td><%= hour[:stop]%></td>
						<td><%= hour[:count]%></td>
						<td><%= hour[:approved]%></td>
                     </tr>
                     <%end%>
                     </tbody>
                 </table>
				
				</td>
				
			</tr>
			<%end%>
		</tbody>
	</table>
	<button class="btn btn-success">Godkjenn alle</button>
</div>
