<div class="container">

<%= render 'layouts/supervisor_buttonbar'%>

<script>

$(document).ready(function() {	
	
	$('#main_table > tbody > tr').click(function(){
		childId = "#child_row" + this.id;
		//cellId = "#icon"+this.id;
		if($(childId).is(":visible")){
    		$(childId).hide();
    		//$(cellId).removeClass('icon-chevron-down');
    		//$(cellId).addClass('icon-chevron-right');
    	}
    	else
    	{	
    		$(childId).show();
    		//$(cellId).addClass('icon-chevron-down');
    		//$(cellId).removeClass('icon-chevron-right');
    	}
    	
    	
	});

});
</script>

<table class="table table-striped" id="main_table">
	<thead>
		<th>Navn</th>
		<th>Timer</th>
		<th>Dato</th>
		<th>Status</th>
		
	</thead>
	<% @collection.each do |hour| -%>
	<tr id=<%=hour[:user_id]%>>
		<td><%= hour[:count] %></td>
		<td><%= hour[:start] %></td>
		<td><%= hour[:stop] %></td>
		<td>Venter på godkjenning</td>
		<td>
			<button class="btn btn-success">Godkjenn</button>
			<button class="btn btn-danger">Underkjenn</button>
		</td>
	</tr>
	<tr class="child_row" id="child_row<%= hour[:id] %>">
		<td colspan="4">
	<table class="table table-hover" id="list_details">
		<thead>
			<th>Periode</th>
			<th>Start</th>
			<th>Stop</th>
			<th>Total</th>
		</thead>
		<tr class="info">
			<td>1</td>
			<td>07.32</td>
			<td>11.26</td>
			<td>3t 54min</td>
		</tr>
		<tr class="info">
			<td>2</td>
			<td>12.14</td>
			<td>15.33</td>
			<td>3t 19min</td>
		</tr>
	</table>
	</td>
	</tr>
	
	<% end -%>
</table>
<button class="btn btn-success">Godkjenn alle</button>
<div id="filler">
</div>
</div>

