<%provide(:custom_css, 'supervisor')%>

<table class="table table-striped" id="workhours">
		<thead>
			<tr>
				<th>Navn</th>
				<th>Start</th>
				<th>Stop</th>
				<th>Antall</th>
				<th>Status</th>
			</tr>
			
		</thead>
		<tbody>
			<% @hour.workhours.each_with_index do |hour, index|%>
				<tr class="info parent" id=<%index%>>
				<td><i class=icon-chevron-right id="icon<%=index%>"></i><%=@hour.name%></td>
				<td><%= hour[:start]%></td>
				<td><%= hour[:stop]%></td>
				<td><%= hour[:count]%></td>
				</tr>
				
				</td>
			</tr>
			<%end%>
		</tbody>
	</table>
