
<div class="container-fluid">
<div class="row-fluid">
	
<div class="span3">
	<div class="well sidebar-nav">
		<ul id="list" class="nav nav-list">
			<li class="nav-header">Meny</li>
			<li class="active"><%= link_to "Vis timeliste", '#'%></li>
			<li><%= link_to "Se tidligere lønnslipper", '#'%></li>
			<li><%= link_to "Link", '#'%></li>
			<li><%= link_to "Tilbake til kortregistrering", '#'%></li>
			<li><%= link_to "Hjem", '#'%></li>
		</ul>
	</div>
</div>

<div class="span5">
	<table class="table table-striped" id="parent_table">
		<thead>
			<tr>
				<th>Navn</th>
				<th>Dato</th>
				<th>Antall</th>
				<th>Status</th>
			</tr>
			
		</thead>
		<tbody>
			<% @c.each do |row|%>
				<tr class="info parent" id=<%=row[:id]%>>
				<td><i class=icon-chevron-right id="icon<%=row[:id]%>"></i><%= row[:name]%></td>
				<td><%= row[:date]%></td>
				<td><%= row[:hours]%></td>
				<td><%= row[:status]%></td>
				</tr>
				<tr class="child" id="child_row<%=row[:id]%>">
				<td colspan="2">
					<table id="child-table" class='table child-table'>
					<thead>
                     <tr id='child-head' class='child-row'>
                     	<th>Start:</th>
                     	<th>Stop:</th>
                     	<th>Antall:</th>
                     	<th>Status:</th>
                     </tr>
                     </thead>
                     <tbody>
                     <%@d.each do |d|%>
                     <tr class='success'>
                     	<td><%= d[:start]%></td>
                     	<td><%= d[:stop]%></td>
                     	<td><%= d[:antall]%></td>
                     	<td><%= d[:status]%></td>
                     </tr>
                     <%end%>
                     </tbody>
                 </table>
				
				</td>
			</tr>
			<%end%>
		</tbody>
	</table>
</div>
</div>

</div>
