

<div class="container">
	
	<table class="table table-hover">
		<thead>
			<th>
				Kort verdi
			</th>
			<th>
				Eier
			</th>
		</thead>
		<tbody>
			<% @cards.each do |card|%>
			<tr>
				<td><%= card.card_value %></td>
				<td><%= card.user.name %></td>
				<td><%= link_to 'Rediger kort', edit_user_card_path(card.user, card) %></td>
				<td><%= link_to 'Slett kort', user_card_path(card.user, card), :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
			<%end%>
		</tbody>
		
		
	</table>
	<%= link_to 'Nytt kort', new_user_card_path, class: "btn btn-primary"%>
	
	
	
	
</div>
