<!DOCTYPE html>
<html>

<body>

<div id="content">
	
	<h3>Registrer et nytt kort</h3>
	
	<%= form_tag("/add", :method => "post") do %>
	<%= label_tag(:a, "Skriv inn PIN") %>
 	<%= text_field_tag(:pin) %>
 	<%= hidden_field_tag(:value, @value) %>
 	</br>
 	<%= submit_tag("Legg til") %>
	<% end %>
	<br />
	<% unless @message.empty? %>
	<div id="alert_container">
		<div id="alerts" class="alert">
    		<h2><%= @message %></h2>
    	</div>
	</div>
	<% end %>
	
	<%= link_to "Tilbake til registrering", root_path%>
	
	

</div>

</body>
</html>