<!DOCTYPE html>
<html>

<body>

<div id="content">
	
	<h1>Registrer et nytt kort</h1>
	
	<%= form_tag("/add", :method => "post") do %>
	<%= label_tag(:a, "Skriv inn PIN") %>
 	<%= text_field_tag(:pin) %>
 	<%= hidden_field_tag(:value, @value) %>
 	</br>
 	<%= submit_tag("Legg til") %>
	<% end %>
	
	<%= link_to "Tilbake til registrering", root_path%>
	
	

</div>

</body>
</html>