<!DOCTYPE html>
<html>

<body>

<div id="content">
	
	<%= form_tag("/", :method => "post") do %>
  	<%= label_tag(:a, "Brukernavn") %>
 	<%= text_field_tag(:id) %>
 	<%= label_tag(:b, "Passord") %>
 	<%= password_field_tag(:pw) %>
 	</br>
  	<%= submit_tag("Registrer") %>
	<% end %>
	
	<%= link_to "Tilbake til kortregistrering", root_path%>
	
	

</div>

</body>
</html>