<%= javascript_include_tag "datepicker/double_datepicker"%>
<%= stylesheet_link_tag "theme/jquery-ui-1.10.2.custom.css"%>



<div class="container">
<%= render "shared/supervisor_buttonbar"%>
	
<%if flash[:notice]%>
<div class="alert alert-error">
  <button type="button" id="close" class="close" data-dismiss="alert">&times;</button>
  <strong>Noe gikk galt!</strong> Du har brukt et ugyldig tegn i søket ditt, prøv igjen.
</div>
<%end%>
<%= form_tag logs_path, :method => 'get', class:"navbar-form pull-left" do %>
<legend>Søkefelt</legend>
    <%= text_field_tag :search, params[:search] , placeholder: "Søkefelt..."%>
    <%= text_field_tag "datepicker-from", params["datepicker-from"], placeholder: "Fra dato..."%>
    <%= text_field_tag "datepicker-to", params["datepicker-to"], placeholder: "Til dato..."%>
    <%=select_tag "category", options_from_collection_for_select(@logtypes, "id", "name", params[:category]),
    		 {prompt: "Kategorier"}%>
	<input type="submit" class="btn"/>
	<% end %>

<div id="logs">
<table class="table table-hover" id="log-table">
<thead>
	<th>Dato</th>
	<th>Bruker</th>
	<th>Beskjed</th>
</thead>
<% unless @logs.empty?%>
<tbody>
	<%= render partial: 'logs'%>
</tbody>
<%else%>
<tbody></tbody>
<%end%>
</table>
</div>


</div>
