<%= stylesheet_link_tag "theme/jquery-ui-1.10.2.custom.css", "vendor" %>
<%= javascript_include_tag "jquery-ui.js", "vendor"%>
<script>

$(function() {
    $( "#datepicker-from" ).datepicker({
    defaultDate: "+1w",
      changeMonth: true,
      dateFormat: "yy-mm-dd",
      onClose: function( selectedDate ) {
        $( "#datepicker-to" ).datepicker( "option", "minDate", selectedDate );
      }
  });
	$( "#datepicker-to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      dateFormat: "yy-mm-dd",
      onClose: function( selectedDate ) {
        $( "#datepicker-from" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
});
</script>


<div class="container">

<div id="cat">
	<%= render "layouts/supervisor_buttonbar"%>
<%= form_tag logs_path, :method => 'get', class:"navbar-form pull-left" do %>
    <%= text_field_tag :search, params[:search] , placeholder: "Søkefelt..."%>
    <%= text_field_tag "datepicker-from", params["datepicker-from"], placeholder: "Fra dato..."%>
    <%= text_field_tag "datepicker-to", params["datepicker-to"], placeholder: "Til dato..."%>
    <%=select_tag "category", options_from_collection_for_select(@logtypes, "id", "name", params[:category]), {prompt: "Kategorier"}%>
	<input type="submit" class="btn"/>
	<% end %>
</div>
<div id="logs">
<table class="table table-hover" id="log-table">
<thead>
	<th>Dato</th>
	<th>Bruker</th>
	<th>Beskjed</th>
</thead>
<% unless @log_message.empty?%>
<tbody last="<%=@log_message.to_a.last[:date]%>">
	<%= render partial: 'logs'%>
</tbody>
<%else%>
<tbody></tbody>
<%end%>
</table>
</div>


</div>
