
<div id="login">
<h1>Logg inn</h1>
<%= form_for @user_session, :as => :user_session, :url => { :action => "create" } do |f| %>
   <%= render "shared/error_messages", :target => @user_session %>
  <%= f.label :email %><br />
  <%= f.text_field :email %><br />
  <br />
  <%= f.label "Passord" %><br />
  <%= f.password_field :password %><br />
  <br />

  <%= f.submit "Login" %>
<% end %>
</div>
