<!DOCTYPE html>
<html>
<head>
  <title><%=full_title("Registrering")%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" , :media => "all"%>
  <%= csrf_meta_tags %>

</head>
<body>
<%= render 'layouts/header'%>

<div id="main">
	
<div class="container-fluid">
      <%= yield %>
    </div>
<div id="alert_container">
	<div id="alerts" style="display: hidden">
		<h1 id="message"><%= @message %></h1>
	</div>
</div>

</div>

</body>
</html>
