<!DOCTYPE html>
<html>
<head>
  <title><%=full_title("Registrering")%></title>
  <%= stylesheet_link_tag "base"%>
  <%= stylesheet_link_tag yield(:custom_css)%>
  <%= %>
  <%= javascript_include_tag "application" , :media => "all"%>
  <%= csrf_meta_tags %>

</head>
<body>
<%= render 'layouts/header'%>

<div id="main">
	
      <%= yield %>
<div id="alert_container">
	<div id="alerts" style="display: hidden">
		<h1 id="message"><%= @message %></h1>
	</div>
</div>

</div>

</body>
</html>
