<!DOCTYPE html>
<html>
<head>
  <title><%=full_title("JT is full of bull")%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" , :media => "all"%>
  <%= csrf_meta_tags %>

</head>
<body>
<%= render 'layouts/header'%>
<div class="container">
      <%= yield %>
    </div>
    
<div id="alerts" style="display: none">
	<h1 id="message"><%= @message %></h1>
</div>
<%= render 'layouts/footer'%>
</body>
</html>
