<!DOCTYPE html>
<html>
<head>
  <title>DatabaseApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
	<script>
	
	$(document).ready(function() {
		document.getElementById('alerts').style.display = ''
        document.getElementById('message').style.color = "green";
        setTimeout (function(){
        	document.getElementById('alerts').style.display = 'none'
        }, 5000);
	});
	
	function getResult() {
		document.getElementById('card_input_value').focus();
    }
	
	$(document).keypress(function(e){
    var checkWebkitandIE=(e.which==26 ? 1 : 0);
    var checkMoz=(e.which==248 ? 1 : 0);

    if (checkWebkitandIE || checkMoz) getResult();
	});
	
	</script>
</head>
<body>
<%= render 'layouts/header'%>
<div class="container">
      <%= yield %>
    </div>
    
<div id="alerts" style="display: none">
	<h1 id="message"><%= @message %></h1>
</div>
<%= render 'layouts/footer'%>
</body>
</html>
